{{ form_start(form) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.banned) }}
    {{ form_row(form.role) }}
    <button type="submit" class="btn btn-dark">{{ button }}</button>
{{ form_end(form) }}